
build/
**/build/
*/build/
fcpp_py/_fcpp_core.dll
fcpp_py/_fcpp_core.so
fcpp_py/libwinpthread-1.dll
__pycache__/
*.pyc
.pytest_cache/

fcpp_clone_*/
fcpp_clone_GITIGNORE_ME/
bin/
bin/*
*/bin/
**/bin/
